@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height:100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  background-size: cover;
  display: flex;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  width: 228px;
  height: 32px;
  z-index: 2;
}

.header__title {
  margin: 0 0 0 64px;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  align-self: center;
  z-index: 2;
  color: #000000;
}

.header__subtitle{
  left: 64px;
  width: 388px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  align-self: flex-end;
  z-index: 2;
  color: #000000;
  margin: 0;
}

.header__link{
  color:#2f80ed;
  margin: 0 0 0 5px;
}

.header__link:hover{
  opacity: 50%;
  transition: opacity 0.5s ease;
}

.header__main-illustration {
  position: absolute;
  height: 608px;
  width: 765px;
  z-index: 1;
  align-self: flex-end;
  right: 0px;
  bottom: 0px;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  background-color: #2f80ed;
  top: 64px;
  right: 0px;
  bottom: 0px;
}

.header__square-pic:hover {
  animation: rotation infinite 20s;
}

.description {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 100px 0 0 0;
}

.two-columns {
  width: 80%;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.two-columns__brief {
  line-height: 1.2;
  margin: 0;
  font-size: 18px;
  color:#2f80ed;
  font-weight: normal;
  width: 175px;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color: #000000;
  margin: 0 0 30px 0;
  padding: 0;
}

.two-columns__paragraph:nth-of-type(3) {
  margin: 0;
}

.two-columns__span-accent{
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.techniques {
  margin: 0 auto 0 auto;
  padding: 0;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  width: 920px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.cards__item {
  margin: 0;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
}

.cards__item:nth-of-type(1) {
  margin: 0 100px 0 0;
}

.cards__item:nth-of-type(2) {
  margin: 0 90px 0 0;
}

.cards__item:nth-of-type(4) {
  margin: 0 100px 0 0;
}

.cards__image {
  margin: 60px 40px 43px 40px;
  border-radius: 50%;
  height: 160px;
  width: 160px;
  padding: 0;
}

.cards__title {
  margin: 0 0 16px 0;
  padding: 0;
  font-size: 24px;
  font-weight: bolder;
  line-height: 1.15;
  text-align: center;
}

.cards__description {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 23px;
  text-align: center;
}

.video {
  margin: 0;
  padding: 0;
  border: white solid;
  position: relative;
  height: 540px;
}

.video__iframes {
  margin: 50px auto 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
  position: absolute;
  z-index: 1;
  overflow: auto;
  left: 0;
  right: 0;
}

.video__iframe {
  margin: 0;
  padding: 0;
  height: 316px;
  width: 515px;
  border: 0;
}

.oakly {
  margin: 0 0 -30px 0;
  padding: 160px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  background-size: cover;
}

.digits {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.section-title {
  margin-top: 100px;
  margin-bottom: 20px;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #000000;
}

.section-subtitle {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  margin-top: 0px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  color: #000000;
}

.table {
  margin-bottom: 100px;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px;
}

.table__cell {
  margin: 60px 0 0 0;
  width: 250px;
  justify-content: space-between;
  list-style-type: none;
  padding: 0px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 20px 0;
  color: #000000;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 0px;
}

.feynman {
  min-height: 890px;
  display: flex;
  background-color: #f2f2f2;
  background-size: cover;
  position: relative;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  margin-top: 100px;
  margin-bottom: 70px;
  width: 648px;
  margin-left: 0;
  margin-right: 0;
  z-index: 1;
  text-align: center;
  color: #000000;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 0 0 0 0;
  z-index: 1;
  color: #000000;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  right: 48px;
  color: #2f80ed;
  top: 50%;
  position: absolute;
}

.feynman__link:hover{
  opacity: 50%;
  transition: opacity 0.5s ease;
}

.feynman__illustration {
  width: 867px;
  height: 637px;
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.khan {
  padding: 105px 0 0 0;
  background-color: #f2f2f2;
  background-size: cover;
  margin: 0;
  height: 1235px;
}

.khan__conteiner {
  margin: 0 auto 0 auto;
  width: 80%;
  padding: 0;
}

.khan__author {
  margin: 0;
  padding: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.khan__title {
  margin: 0;
  padding: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bolder;
}

.khan__quote {
  width: 790px;
  margin: 50px 0 36px 0;
  padding: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.khan__quote-author {
  margin: 0;
  padding: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bolder;
}

.khan__quote-author-subline {
  margin: 10px 0 68px 0;
  padding: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
}

.khan__book-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.khan__book-pic {
  margin: 0;
  padding: 0;
  width: 620px;
}

.khan__buy-link {
  margin: 0 0 0 48px;
  padding: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
}

.khan__buy-link:hover{
  opacity: 50%;
  transition: opacity 0.5s ease;
}

.kaufman {
  padding: 90px 0 90px 0;
  background-color: #1f1f1f;
  overflow: hidden;
  position: relative;
  margin: 0;
}

.section-title_theme_dark {
  color: white;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin-top: 0px;
  z-index: 1;
  position: relative;
}

.section-subtitle_theme_dark {
  color: white;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  z-index: 1;
  position: relative;
}

.table_theme_dark {
  margin-bottom: 0px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
}

.table__heading_theme_dark {
  color: white;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 0px;
}

.table__text_theme_dark {
  color: white;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 0px;
  margin-top: 0px;
}

.kaufman__triangle {
  background-image: url("../images/kaufman-triangle.svg");
  background-size: contain;
  background-position: right top;
  background-repeat: no-repeat;
  position: absolute;
  right: -210px;
  top: 0px;
  width: 877px;
  height: 877px;
}

.kaufman__triangle:hover {
  animation: rotation infinite 20s;
}

.resources{
  padding: 0;
  margin: 0;
}

.resources__logo-zone {
  padding: 0;
  margin: 80px auto 217px auto;
  width: 1100px;
  display: flex;
  justify-content: center;
}

.resources__logo {
  padding: 0;
  width: 270px;
  height: 38px;
  margin: 0;
  display: block;
}

.footer {
  min-height: 350px;
  padding: 60px 0 40px 0;
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
  margin: 0;
  box-sizing: border-box;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 0 16px 0;
  flex-basis: 711px;
}

.logo_place_footer {
  height: 32px;
  width: 228px;
}

.footer__author {
  line-height: 25px;
  font-weight: normal;
  margin: 18px 0 18px 0;
  color: white;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
  margin: 0 0 16px 0;
}

.footer__column-heading {
  line-height: 30px;
  font-weight: bold;
  margin: 0 10px 20px 0;
  font-size: 18px;
  color: white;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
}

.footer__column_content_social {
  margin: 0 0 16px 0;
}

.footer__column-link {
  line-height: 30px;
  font-weight: normal;
  margin: 0;
  color: white;
  font-size: 18px;
  text-decoration:none;
}

.footer__social-icon {
  margin: 0px 10px 0 0;
  height: 16px;
  width: 16px;
}
